body{
    background-color:rgb(144, 191, 206);
}
*{
    margin: 0 auto;
    padding:0;

}
.bin__header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container{
    margin:10px auto;
    padding:20px 0;
    max-width: 450px;
    min-height: 290px;
    background-color: rgb(50, 82, 104);
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__liChild{
        // border:1px solid red;
        border-radius: 10px;
    }
    &__item{
        margin:15px auto;
        text-align: center;
    }
    &__totalyPrice{
        // border:1px solid blue;
    }
}